@use "src/variables.scss" as vars;

@keyframes pulse {
    0% {
        filter: brightness(1.2);
    }
    50% {
        filter: brightness(0.9);
    }
    100% {
        filter: brightness(1.2);
    }
}

.editor {
    display: grid;
    grid-template:
        "header header header header" max-content
        ".      canvas picker ."      max-content
        ".      canvas .      ."      max-content
        / 1fr max-content max-content 1fr;
    column-gap: 16px;

    .no-broadcast, .broadcast {
        grid-area: header;
        justify-self: center;
        font-weight: 300;

        &.no-broadcast {
            color: #404040;
        }

        .broadcast-id {
            color: rgb(244, 67, 54);
            font-weight: 500;
        }
    }

    .canvas {
        grid-area: canvas;
        box-shadow: vars.$box-shadow-big;
    }

    .color-picker {
        grid-area: picker;

        display: grid;
        grid-template-columns: 32px 32px;
        grid-auto-rows: 32px;
        row-gap: 4px;
        column-gap: 4px;

        box-shadow: vars.$box-shadow-big;
        padding: 4px;

        background: #e1e9fc;

        .color-picker-color {
            cursor: pointer;

            &.selected {
                animation: pulse ease-in 2s infinite;
                width: 28px;
                height: 28px;
                margin: 2px
            }
        }
    }
}