<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Warning :: Hello VietNam Blog</title>
  
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
       
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
        </nav>
        <a href="/"><img src="/static/images/hackemall.png" alt="hackemall.png"/></a>
        <center><img src="/static/images/next-gen-proxy.png" alt="hackemall.png"/></center>
      </div>
      
      <div class="jumbotron">
        <h1>{{error}}</h1>        
      </div>
      
      <footer class="footer">
            <p>from ducnt import ❤️</p>
      </footer>

    </div>
  </body>
</html>