<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>HackEmAll Next-Gen Proxy</title>
  
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">

    <style type="text/css">
        @font-face {
          font-family: goprofont;
          src: url(../static/fonts/5by7.bold.ttf) format("opentype");
          font-style: normal;
          font-weight: 1000;
        }
        gopro1337 {
          font-family: "goprofont";
          font-size: 20px;
          color: #c642eb;
        }
    </style>
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
            </nav>
            <a href="/"><img src="/static/images/hackemall.png" alt="hackemall.png"/></a>
            <center><img src="/static/images/next-gen-proxy.png" alt="hackemall.png"/></center>
        </div>
 
        <div class="jumbotron">
            <img src="/static/images/blog-icon.jpg" alt="blog-icon.jpg"/ >
            <p class="lead"></p>
            <p>
                <!-- <a class="btn btn-lg btn-success" href="curl" role="button">Browse Me</a> -->

                <form method ="post" action="/curl">
                <button class="btn btn-lg btn-success" type="submit" name="url" value="https://hackemall.live">Browse Me</button>
                </form> 

            </p>
        </div>
 
        <center>
            <gopro1337>Welcome to HackEmAll Next-Gen Proxy 💫 Feel free to browse to any site ⚡️ It Secure and Fast</gopro1337>
        </center>

 
        <footer class="footer">
            <p>from ducnt import ❤️</p>
        </footer>
 
    </div>
</body>
 
</html>
