<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="/css/Lightbox-Gallery.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="animes.html">Kahla x Fword</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/update">UPDATE</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/animes">Top Anime</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a></li>

                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('img/about-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Home Page</h1><span class="subheading">“When you come to hate something you liked it is incredibly painful.” – Tetsuya Kuroko</span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Hello <%= username %> ,You love <%= anime %> right ? Here are Some Wallpapers&nbsp;</h2>
                <p class="text-center">Just some random text and random wallpapers , enjoy the beauty and don't solve the challenge!</p>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/img/wp2349778-kuroko-tetsuya-wallpapers.jpg"><img class="img-fluid" src="/img/wp2349778-kuroko-tetsuya-wallpapers.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/img/wp3754599-hinata-shy-wallpapers.jpg"><img class="img-fluid" src="/img/wp3754599-hinata-shy-wallpapers.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/img/Fword-CTF-bakground.png"><img class="img-fluid" src="/img/Fword-CTF-bakground.png"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/img/Wallpaper%20Subaru%20Natsuki,%20Zero,%204K,%205K,%20Art%206507310401.jpg"><img class="img-fluid" src="/img/Wallpaper%20Subaru%20Natsuki,%20Zero,%204K,%205K,%20Art%206507310401.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/img/home-bg.jpg"><img class="img-fluid" src="/img/home-bg.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/img/naruto.png"><img class="img-fluid" src="/img/naruto.png"></a></div>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
                    </ul>
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Kahla x Fword 2020</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/clean-blog.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>