extends layout

block content
  // Page Content
  .container
    .row.justify-content-center
      .col-md-8.col-lg-6.mt-5
        .alert.alert-danger.mx-5(role='alert') Checkout has been disabled temporarily due to a security incident. Sorry for the inconvenience.