<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Under Construction - ADDDMMINSECRET</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
    <style>
        .center {
            min-width: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Under Construction</a>
    </nav>
    <div class="center">
        <pre>
        <code>
        router.get('/d424054dbc38c73ca9f81ad711b5588c', (req, res) => 
        res.render('admin.html', { query: req.query }
        ));



        router.post('/d424054dbc38c73ca9f81ad711b5588c', (req, res)=>{
        var passcode = req.query.passcode;
        var secret = fs.readFileSync('passcode.txt','utf8').trim();
        if (typeof passcode  == "string" && !secret.search(passcode) && secret === passcode){
            return res.send("Hello ADMIN!");
        } 
        else {
            return res.end("Noo enter the correct passcode Plz");
        }});
    </code>
</pre>
      </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--  surrounded the passcode with flag{}-->
</html>