<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Under Construction - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .loginForm {
            min-width: 500px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <form class="loginForm" method="post">
                {% if query.error !== undefined %}
                <div class="alert alert-{{ 'danger' if query.type === undefined else query.type }}">
                    {{ query.error }}
                </div>
                {% endif %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input class="form-control input-lg" type="text" name="username" placeholder="username" />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input class="form-control input-lg" type="password" name="password" placeholder="password" />
                </div>
                <div class="form-group">
                    <div class="btn-group" style="width: 100%;">
                        <input type="submit" name="login" class="btn btn-success" value="Login" />
                        <input type="submit" name="register" class="btn btn-primary" value="Register" />
                    </div>
                </div>
              </form>
        </div>
      </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>