html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8e5f1;
}

.page {
    display: grid;
    grid-template:
        ". header  ." max-content
        ". content ." max-content
        / 1fr min(800px, 100vw) 1fr;
    justify-content: center;
    align-content: center;
    row-gap: 16px;

    .logo {
        grid-area: header;
        justify-self: center;
        cursor: pointer;
    }

    .page-content {
        grid-area: content;
    }
}